# =========================
# Python
# =========================
__pycache__/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Project-specific
# =========================
tasks.json
